h1{
  color: orange;
  text-align: center;
}

canvas{
  border: 2px dotted black;
}

.maze1 img{
position: absolute;
top: 200px;
left: 500px;

}

#bee2{
  position: relative;
  cursor: pointer;
}

#instruction{
  background-color: yellow;

}
