h1{
  color: orange;
  text-align: center;
}

canvas{
  border: 2px dotted black;
}

.maze1 img{
position: absolute;
top: 200px;
left: 500px;

}

#bee{
  position: relative;
  cursor: pointer;
}

#postest{
  position: absolute;
  top: 214px;
  left: 288px;
}

#instruction{
  background-color: yellow;

}
